<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<file>
<func>
<list>
<leaf symbol="DEF" />
<list>
<leaf symbol="MoreSystemCommands" />
</list>
<list>
<list>
<leaf symbol="CATEGORY" />
<leaf symbol="package" />
<list>
<leaf symbol="SIGNATURE" />
<leaf symbol="systemCommand" />
<list>
<list>
<leaf symbol="Void" />
</list>
<list>
<leaf symbol="String" />
</list>
</list>
</list>
</list>
</list>
<list>
<list />
</list>
<list>
<leaf symbol="CAPSULE" />
<list>
<leaf symbol="DEF" />
<list>
<leaf symbol="systemCommand" />
<leaf symbol="cmd" />
</list>
<list>
<list />
<list />
</list>
<list>
<list />
<list />
</list>
<list>
<list>
<leaf symbol="Sel" />
<leaf symbol="Lisp" />
<leaf symbol="doSystemCommand" />
</list>
<leaf symbol="cmd" />
</list>
</list>
</list>
</list>
</func>
</file>
